/* font-family: 'Poppins', sans-serif; */

:root {
    --black: #373737;
    --primary: #ff8e3c;
    --white: #ffffff;
    --grey: #848199;
    --red: #fa513a;
    --red-popular: #FF8E3C;
    --red-light: #FFD5B6;
    --red-light-button: #FF994F;
    --grey-2: #a3a3a3;
    --bg: #f5f5fa;
    --headline2: 600 1.75rem/normal Poppins;
    --headline3: 600 1.25rem/1.375rem Poppins;
    --button: 400 0.875rem/1rem Poppins;
    --button-bold: 700 0.875rem/1rem Poppins;
    --headline1: 600 3.5rem/normal Poppins;
    --body1-regular: 400 1rem/1.5rem Poppins;
    --body1-bold: 700 1rem/1.5rem Poppins;
    --body2-bold: 700 0.875rem/1.5rem Poppins;
    --body2-regular: 400 0.875rem/1.5rem Poppins;
    --caption-regular: 400 0.75rem/1rem Poppins;
    --caption-bold: 600 0.75rem/1rem Poppins;
}

body {
    color: var(--grey);
    background-color: var(--bg);
    font: var(--body1-regular);
    margin: 0;
    padding: 0;
}

.wrapper {
    max-inline-size: 292px;
    margin: 34px auto;
}

.content-title {
    margin-block-end: 40px;
}

.title-text {
    color: var(--black);
    font: var(--headline2);
    margin-block-end: 0;
    margin-inline: 0;
}

.subtitle-text {
    margin-block-start: 8px;
    margin-block-end: 0;
}

.card-price-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.card-content {
    background-color: var(--white);
    color: var(--black);
    border-radius: 26px;
    box-sizing: border-box;
    padding-block: 29px;
    padding-inline: 29px;
    cursor: pointer;
}

.card-option-popular {
    text-align: right;
}

.btn-popular {
    padding-block: 6px;
    padding-inline: 18px;
    border: none;
    border-radius: 13px;
    background-color: var(--red-light);
    font: var(--button-bold);
    justify-content: right;
    margin-block-end: 6px;
}

.price-mount {
    font: var(--headline2);
}

.price-mount::before {
    content: '$ ';
}

.month-price {
    font: var(--body1-regular);
}

.title-card {
    margin-block-start: 16px;
    margin-block-end: 10px;
}

.list-access {
    font: var(--body2-regular);
    padding-inline-start: 0;
}

.list-access li {
    list-style-type: none;
    margin-block-end: 16px;
}

.list-access li::before {
    content: '\2713';
    border-radius: 50%;
    block-size: 20px;
    inline-size: 20px;
    background-color: rgba(55, 55, 55, 0.2);
    color: var(--black);
    padding-block: 3px;
    padding-inline: 5px;
    margin-inline-end: 8px;
}

.option-disabled {
    opacity: 0.2;
}

.d-none {
    display: none;
}

.not-popular {
    margin-block-start: 33.52px;
}

.btn-plan {
    padding-block: 12px;
    padding-inline: 32px;
    width: 100%;
    border: none;
    border-radius: 90px;
    background: rgba(255, 142, 60, 0.1);
    color: var(--primary);
    font: var(--body1-bold);
}


/* Hover */


/* .card-content:hover {
    background-color: var(--red-popular);
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
    position: relative;
} */


/* .card-content:hover .btn-plan {
    background-color: var(--black);
    color: var(--white);
} */


/* .card-content:hover .list-access li::before {
    background-color: var(--red-light-button);
    color: var(--white);
} */


/* aria-selected */

.card-content[aria-selected='true'] {
    background-color: var(--red-popular);
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
    position: relative;
    transition: 0.5s;
}

.card-content[aria-selected='true'] .btn-plan {
    background-color: var(--black);
    color: var(--white);
}

.card-content[aria-selected='true'] .list-access li::before {
    background-color: var(--red-light-button);
    color: var(--white);
}

@media screen and (min-width:1024px) {
    .wrapper {
        max-inline-size: 1170px;
        margin: 128px auto 0;
    }
    .title-text {
        font: var(--headline1);
    }
    .card-price-list {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: center;
        background-color: var(--white);
        border-radius: 26px;
    }
    .subtitle-text {
        margin-block-start: 16px;
    }
    .content-title {
        margin-block-end: 130px;
    }
    /* Hover */
    /* .card-content:hover {
        top: -100px;
        transform: translateY(-100px);
        z-index: 999;
    } */
    /* aria-selected */
    .card-content[aria-selected='true'] {
        top: -100px;
        /* transform: translateY(-100px); */
        z-index: 999;
        /* transition: 0.5s; */
    }
}